{% extends 'base.html' %}
{% load static %}

{% block title %}
  Reset password 
{% endblock %}

{% block content %}
      <br>
      <div class="container">
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form action="" class="form-group" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <br>
          <input class="btn btn-secondary" type="submit" name="submit" id="submit" value="Submit" />
        </form>
      </div>

{% endblock %}