<!DOCTYPE html>
{% load static %}
{% load django_htmx %}

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/tasks_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/task_style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
    <title>
      {% block title %}TO DO APP {% endblock %}
    </title>
    <style>
      .hyperlink-underline {
        cursor: pointer;
      }
    </style>
    
    {# <script defer src="{% static "js/alpine.js" %}"></script> #}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <!-- As a heading -->
    <header>
      {% include "nav.html" %}    
    </header>
    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    
    <script>
    htmx.onLoad(function(content) {
      var sortables = content.querySelectorAll(".sortable");
      for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        new Sortable(sortable, {
            animation: 150,
            ghostClass: 'blue-background-class'
        });
      }
    })
    </script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <script src="{% static 'htmx/hyperscript.js' %}"></script>
    <script src="{% static 'js/tasks.js' %}"></script>
    <script src="{% static 'js/tasks_js.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    
    <script type="text/javascript" charset="utf-8">
      function closeModal() {
	      var container = document.getElementById("modals-here")
	      var backdrop = document.getElementById("modal-backdrop")
	      var modal = document.getElementById("modal")

	      modal.classList.remove("show")
	      backdrop.classList.remove("show")

	      setTimeout(function() {
		      container.removeChild(backdrop)
	        container.removeChild(modal)
	      }, 200)
      }
    </script>
    <script>
        $(document).ready(function() {
            let viewLoginPwd = false;
            let getPwdView = $("#pwd");
            
            $("#viewPwd").click(function() {
                if (viewLoginPwd === false)
                {
                    getPwdView.attr("type", "text");
                    viewLoginPwd = true;
                } else if (viewLoginPwd === true) {
                    getPwdView.attr("type", "password");
                    viewLoginPwd = false;
                }
            });
        });
    </script>
  </body>
</html>