{% extends 'base.html' %}
{% load static %}

{% block title %}
  Reset password confirmation 
{% endblock %}

{% block content %}

      <div class="container">
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="" class="form-group" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <br>
          <input class="btn btn-secondary" type="submit" name="submit" id="submit" value="Change my password" />
        </form>
      </div>

{% endblock %}